* {
    margin: 0;
    padding: 0%;
}
body {
    background-color:#D5AF58;
    font-family: 'Times New Roman', Times, serif;
}
header {
    height: 6vh;
    margin: 20px;
}
header h1 {
    color:red;
    font-family: 'Times New Roman', Times, serif;
}
header h6 {
    font-size: 18px;
    color:black;
    font-family: 'Times New Roman', Times, serif;
}
#brand .nav-link: hover {
  color: darkred;
}
{
.nav-link:hover 
  color:purple;
  font-weight: bold;
}
header h5 {
    font-size: 18px;
    color:black;
    font-family: 'Times New Roman', Times, serif;
}
a {
    color: red;
}
nav {
    border-top: dashed 1px black;
    border-bottom: dashed 1px black;
    width: 100vw;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}
nav ul li {
    display: inline-block;
    text-align: center;
    padding-left: 10px;
}
nav ul li:hover {
    font-weight: bold;
}
nav ul li a{
    text-decoration: none;
}
#post {
    font-size: 16px;
    margin: 20px;
    margin-top: 0;
}
#main {
    font-size: 26px;
}
.subject {
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 22px;
    color:red;
    margin-bottom: 10px;
}
.info { 
    color:black;
    font-family: monospace;
}
h2{   
    font-family: 'Times New Roman', Times, serif;
    color: darkred;
}
.main{
    text-align: center;
}
#about{
    margin-top:50px;
    display: inline-block;
}
#about-picture{
    width: 30vw;
    float: left;
}
#profile-pic{
    height: 300px;
    width: 300px;
    object-fit: cover;
    border-radius: 0.4em;
    box-shadow: 2px 2px 2px black;
}
#about-content{
    width: 40vw;
    float: right;